<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
	    
      <li class="sidebar-nav-item"><a href="{{ site.emailme }}">Contact Me</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">Hosted by Github</a></li>
      <!-- social buttons -->
      <a href="https://github.com/zrwang" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
      <a href="https://www.facebook.com/zrwang.cuhk" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
      <a href="https://hk.linkedin.com/in/zrwang" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
      <a href="https://plus.google.com/u/0/115306810481973645007/posts" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
      <a href="https://twitter.com/wangzerui" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
      <a href="https://www.instagram.com/wzr.mavericker" target="_blank" class="btn-social btn-outline"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <span class="sidebar-nav-item">Last updated on: {{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
